@import "_functions";
@import "_mixins";
@import "_variables";

.featured-articles {
  margin-bottom: 60px;

  h2 {
    font-size: 50px;
    font-family: var(--ylb-font-family-cachet);
    line-height: 60px;
    margin-bottom: 28px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }

  .node--view-mode-featured {
    border-radius: var(--wsBorderRadius, unset);
    box-shadow: 0 0 11px 0 rgba(0,0,0,0.15);
    padding: 0;
    height: 100%;
    margin-bottom: 30px;
    margin-top: 0;

    & > div {
      display: flex;
      flex-wrap: wrap;
      align-self: center;

      .image {
        width: 100%;

        @include media-breakpoint-up(lg) {
          max-width: 67%;
        }

        .field-header-image {
          margin: 0;
          height: 100%;

          & > article {
            height: 100%;

            .field-media-image {
              height: 100%;

              img {
                height: 100%;
                border-radius: unset;
              }
            }
          }
        }
      }

      .description {
        width: 100%;
        padding: 40px;

        @include media-breakpoint-up(lg) {
          max-width: 33%;
          padding: 20px 40px 0 40px;
        }

        h3 {
          font-size: 26px;
          font-family: var(--ylb-font-family-cachet);
          line-height: 32px;

          @include media-breakpoint-up(lg) {
            font-size: 30px;
          }

          a {
            color: var(--wsPrimaryColor, black)
          }
        }

        .body,
        .wrapper-field-tags {
          margin-bottom: 20px;
          margin-top: 0;
        }

        .body {
          margin-bottom: 20px;
          margin-top: 0;
          font-size: 18px;
          font-family: var(--ylb-font-family-verdana);
          font-weight: 500;
          line-height: 28px;
        }

        .wrapper-field-tags {
          display: none;

          @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 20px;
            margin-top: 0;
          }
        }
      }

      .tags-mobile {
        display: flex;
        justify-content: flex-start;
        padding: 0 20px 15px 20px;

        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
  }
}
