@import "_functions";
@import "_mixins";
@import "_variables";

.block-lb-listing-articles {
  margin: 40px 0;

  @include media-breakpoint-up('md') {
    margin: 80px 0 70px;
  }

  h2 {
    font-size: 50px;
    font-family: var(--ylb-font-family-cachet);
    margin-bottom: 20px;

    @include media-breakpoint-down('lg') {
      font-size: 35px;
      margin-bottom: 14px;
    }

  }

  .lb-articles-listing {

    header {
      font-size: 18px;
      font-family: var(--ylb-font-family-verdana);
      margin-bottom: 20px;

      @include media-breakpoint-down('lg') {
        margin-bottom: 14px;
      }
    }

    .node--lb.node--type-article-lb.node--view-mode-teaser {
      text-align: var(--wsTextAlignment, unset);
      border-radius: var(--wsBorderRadius, unset);
      border: var(--wsBorderStyle , none);
      box-shadow: var(--wsBoxShadow, none);
      padding: 15px 20px 20px;
      height: 100%;

      &.node--lb {
        margin-top: 0;
      }

      .changed {
        color: var(--ylb-color-dark-grey-1, darkgray);
        font-size: 16px;
        font-family: var(--ylb-font-family-verdana);
        line-height: 20px;
        text-transform: uppercase;
        margin: 15px 0;
        padding-top: 10px;
      }

      .field-header-image {
        width: calc(100% + 40px);
        margin: 0 -20px 20px;

        img {
          border-radius: 0;
        }
      }


      .wrapper-field-tags {
        margin-bottom: 20px;
        margin-top: 0;
      }

      h3 {
        margin-bottom: 20px;

        a {
          color: var(--wsPrimaryColor, black);
          font-family: var(--ylb-font-family-cachet);
          font-weight: 500;
          font-size: 30px;
          line-height: 32px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .body {
        font-family: var(--ylb-font-family-verdana);
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;
      }
    }


    .views-infinite-scroll-content-wrapper  {
      display: flex;
      flex-wrap: wrap;

      @include media-breakpoint-up('md') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
      }

      @include media-breakpoint-up('xl') {
        grid-template-columns: repeat(3, 1fr);
      }

      .views-row {
        width: 100%;
        margin-bottom: 40px;

        @include media-breakpoint-up('md') {
          margin-bottom: 0;
        }

        article {
          position: relative;
        }
      }
    }

    .pager {
      .load_more_button {
        a {
          background-color: var(--wsPartnerColor, var(--ylb-color-blue-dark));
          border: 2px solid var(--wsPartnerColor, var(--ylb-color-blue-dark));
          border-radius: var(--wsBorderRadius, unset);
          font-family: var(--ylb-font-family-cachet);
          font-weight: 500;

          &:hover {
            text-decoration: none;
            color: var(--wsPartnerColor, blue);
            background-color: var(--ylb-color-white);
          }
        }
      }
    }
  }

  // WS Style component-level adjustments.
  // - Border style.
  &.ws-border-style--solid {
    .lb-articles-listing {
      .node--lb.node--type-article-lb.node--view-mode-teaser {
        box-shadow: var(--ylb-border-style-none, none);
        border: var(--ylb-border-style-solid, none);
      }
    }
  }

  &.ws-border-style--drop-shadow {
    .lb-articles-listing {
      .node--lb.node--type-article-lb.node--view-mode-teaser {
        box-shadow: var(--ylb-border-style-drop-shadow, none);
        border: var(--ylb-border-style-none, none);
      }
    }
  }

  &.ws-border-style--none {
    .lb-articles-listing {
      .node--lb.node--type-article-lb.node--view-mode-teaser {
        box-shadow: var(--ylb-border-style-none, none);
        border: var(--ylb-border-style-none, none);
      }
    }
  }

  // - Text / Button alignment style.
  &.ws-text-alignment--left {
    .lb-articles-listing {
      .node--lb.node--type-article-lb.node--view-mode-teaser {
        text-align: left;
      }
    }
  }

  &.ws-text-alignment--center {
    .lb-articles-listing {
      .node--lb.node--type-article-lb.node--view-mode-teaser {
        text-align: center;
      }
    }
  }
}


// - Button filled style.


.ws-button-fill--outlined--global {
  .block-lb-listing-articles {
    .lb-articles-listing {
      .pager {
        .load_more_button a {
          color: var(--wsPartnerColor, black);
          border: 2px solid var(--wsPartnerColor, black);
          background-color: transparent;

          &:hover,
          &:focus {
            color: var(--ylb-color-white, white);
            background-color: var(--wsPartnerColor, black);
            border-color: var(--wsPartnerColor, black);
          }
        }
      }
    }
  }
}

.ws-button-fill--filled--global {
  .block-lb-listing-articles {
    .lb-articles-listing {
      .pager {
        .load_more_button a {
          color: var(--ylb-color-white, white);
          background-color: var(--wsPartnerColor, black);
          border-color: var(--wsPartnerColor, black);

          &:hover,
          &:focus {
            color: var(--wsPartnerColor, black);
            border: 2px solid var(--wsPartnerColor, black);
            background-color: transparent;
          }
        }
      }
    }
  }
}
